:root {
  --primary-color: #dc143c;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", system-ui, monospace, Arial, Helvetica, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
input, button {
  font: inherit;
}
p, h1, h2{
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content"
  "sidebar main-content";
}

.header {
  grid-area: header;

}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  color: white;
  padding: 2em;
  gap: 3em;
  font-weight: 800;
  line-height: 3em;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard,
.user-navigation,
.settings-menu {
  margin-left: 45px;
}

.dashboard,
.user-navigation ul li,
.settings-menu ul li {
  position: relative;
}
.dashboard {
  font-size: 30px;
}

.dashboard::before {
content: url("/img/view-dashboard.svg");
position: absolute;
left: -60px;
top: -2px;
}

.user-navigation .home::before {
  content: url("img/home.svg");
}

.user-navigation .profile::before {
  content: url("img/account.svg");
}
.user-navigation .msg::before {
  content: url("img/message.svg");
}

.user-navigation .history::before {
  content: url("img/Hiistory.svg");
}

.user-navigation .task::before {
  content: url("img/Tasks.svg");
}

.user-navigation .comm::before {
  content: url("img/communities.svg");
}

.settings-menu .settings::before {
  content: url("img/settings.svg");
}

.settings-menu .support::before{
  content: url("img/support.svg");
}

.settings-menu .privacy::before {
  content: url("img/shield.svg");
}

.user-navigation .home::before,
.user-navigation .profile::before,
.user-navigation .msg::before, 
.user-navigation .history::before,
.user-navigation .task::before,
.user-navigation .comm::before,
.settings-menu .settings::before,
.settings-menu .support::before,
.settings-menu .privacy::before {
  position: absolute;
  left: -50px;
  top: 3px;
}

.main-content {
  grid-area: main-content;
}
