:root {
  --primary-color: #dc143c;
  --bold-font-weight: 800;
  --secondary-color: #e2dddd;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", system-ui, monospace, Arial, Helvetica, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
input, button {
  font: inherit;
}
p, h1, h2{
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content"
  "sidebar main-content";
}

.header {
  grid-area: header;
  display: grid;
  padding: 1em 3em;
  gap: 1em;
  align-items: center;
}

.header .first {
  display: grid;
  grid-template-columns: minmax(300px, 3fr) minmax(200px, 1fr);
  align-items: center;
}

.icon {
  display: inline;
  width: 20px;
}
.search {
  display: flex;
  align-items: center;
  gap: 1em;
}

label {
  display: flex;
}

input {
  border-radius: 10em;
  outline: none;
  background: #e2dddd;
  border: none;
  padding: 0.2em 0.5em;
  width: 80%;
  min-width: 50px;
}

.top-end {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  justify-content: end;
  align-items: center;
}

.profile-avatar-top img{
  width: 50px;
  border-radius: 100%;
}

.profile-name {
  font-weight: var(--bold-font-weight);
}

.header .second {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  align-items: center;
}

.second .second-start {
  display: flex;
  gap: 1em;
  align-items: center;
}

.second-end {
  display: flex;
  justify-content: end;
  gap: 1.5em;
}

button {
  min-width: 8em;
  font-size: 0.7rem;
  font-weight: var(--bold-font-weight);
  padding: 0.5em;
  background: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 10em;
}

.profile-avatar-second img{
  width: 90px;
  border-radius: 100%;
}

.profile-text > :first-child {
  font-size: 0.7rem;
  font-weight: var(--bold-font-weight);
}

.profile-text > :last-child {
  font-size: 1.2rem;
  font-weight: var(--bold-font-weight);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  color: #fff;
  padding: 2em;
  gap: 3em;
  font-weight: var(--bold-font-weight);
  line-height: 3em;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard,
.user-navigation,
.settings-menu {
  margin-left: 3rem;
}

.dashboard,
.user-navigation ul li,
.settings-menu ul li {
  position: relative;
}

.dashboard {
  font-size: 2rem;
}

.dashboard::before {
content: url("/img/view-dashboard.svg");
position: absolute;
left: -60px;
top: -2px;
}

.user-navigation .home::before {
  content: url("img/home.svg");
}

.user-navigation .profile::before {
  content: url("img/account.svg");
}
.user-navigation .msg::before {
  content: url("img/message.svg");
}

.user-navigation .history::before {
  content: url("img/Hiistory.svg");
}

.user-navigation .task::before {
  content: url("img/Tasks.svg");
}

.user-navigation .comm::before {
  content: url("img/communities.svg");
}

.settings-menu .settings::before {
  content: url("img/settings.svg");
}

.settings-menu .support::before{
  content: url("img/support.svg");
}

.settings-menu .privacy::before {
  content: url("img/shield.svg");
}

.user-navigation .home::before,
.user-navigation .profile::before,
.user-navigation .msg::before, 
.user-navigation .history::before,
.user-navigation .task::before,
.user-navigation .comm::before,
.settings-menu .settings::before,
.settings-menu .support::before,
.settings-menu .privacy::before {
  position: absolute;
  left: -50px;
  top: 3.5px;
}

.main-content {
  grid-area: main-content;
}
